# Recommendations Project

DOMAIN: Smartphone, Electronics

CONTEXT: 
India is the second largest market globally for smartphones after China. 
About 134 million smartphones were sold across India in the year 2017 and is estimated to increase to about 442 million in 2022. 
India ranked second in the average time spent on mobile web by smartphone users across Asia Pacific. 
The combination of very high sales volumes and the average smartphone consumer behaviour has made India a very attractive market for foreign vendors. 
As per Consumer behaviour, 
    97% of consumers turn to a search engine when they are buying a product vs. 
    15% who turn to social media. 
If a seller succeeds to publish smartphones based on user’s behaviour/choice at the right place, there are 90% chances that user will enquire for the same. 
This Case Study is targeted to build a recommendation system based on individual consumer’s behaviour or choice.

In [1]:
# Import all necessary libraries
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns

1. Import the necessary libraries and read the provided CSVs as a data frame and perform the below steps.
• Merge the provided CSVs into one data-frame.
• Check a few observations and shape of the data-frame.
• Round off scores to the nearest integers.
• Check for missing values. Impute the missing values if there is any.
• Check for duplicate values and remove them if there is any.
• Keep only 1000000 data samples. Use random state=612.
• Drop irrelevant features. Keep features like Author, Product, and Score.

In [2]:
# Reading the csv files
os.chdir = ("/Users/kishorekumarg/Documents/Great Learning/GL - Recommendation systems/GL - Recommendation system Project")

In [3]:
# Finding the csv files in the folder and putting them in list
import glob
ext = "csv"
all_filenames = [i for i in glob.glob('*.{}'.format(ext))]

In [4]:
# Using list read and merge
dat1 = []
for a in all_filenames:
    dat1.append(pd.read_csv(a,engine = 'python'))
merged_df = pd.concat(dat1)

In [5]:
merged_df.shape
# data_sample.shape

(1415133, 11)

In [6]:
merged_df.describe()

              score  score_max
count  1.351644e+06  1351644.0
mean   8.007060e+00       10.0
std    2.616121e+00        0.0
min    2.000000e-01       10.0
25%    7.200000e+00       10.0
50%    9.200000e+00       10.0
75%    1.000000e+01       10.0
max    1.000000e+01       10.0

In [7]:
merged_df.head()

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Verizon Wireless,verizonwireless.com,10.0,10.0,As a diehard Samsung fan who has had every Sam...,CarolAnn35,Samsung Galaxy S8
1,/cellphones/samsung-galaxy-s8/,4/28/2017,en,us,Phone Arena,phonearena.com,10.0,10.0,Love the phone. the phone is sleek and smooth ...,james0923,Samsung Galaxy S8
2,/cellphones/samsung-galaxy-s8/,5/4/2017,en,us,Amazon,amazon.com,6.0,10.0,Adequate feel. Nice heft. Processor's still sl...,R. Craig,"Samsung Galaxy S8 (64GB) G950U 5.8"" 4G LTE Unl..."
3,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Samsung,samsung.com,9.2,10.0,Never disappointed. One of the reasons I've be...,Buster2020,Samsung Galaxy S8 64GB (AT&T)
4,/cellphones/samsung-galaxy-s8/,5/11/2017,en,us,Verizon Wireless,verizonwireless.com,4.0,10.0,I've now found that i'm in a group of people t...,S Ate Mine,Samsung Galaxy S8

In [8]:
# Shape of the data
merged_df.shape
rows = len(merged_df)
columns = len(merged_df.columns)
print("Summary")
print("No.of Rows = ", rows )
print("No.of Columns = ", columns)

Summary
No.of Rows =  1415133
No.of Columns =  11

In [9]:
#Data Types
merged_df.dtypes

phone_url     object
date          object
lang          object
country       object
source        object
domain        object
score        float64
score_max    float64
extract       object
author        object
product       object
dtype: object


Float		

score     	- average rating for the phone	
score_max	- highest rating given for the phone


Strings		

date        - date of the rating   		
lang        - rating content		
country     - country the person who gave the rating belongs to  		
source   	- source from where the rating was taken	
domain 	    - website from which the rating was taken from	
extract     - rating content		
author      - name of the person who gave the rating  		
product		- name of the product/mobile phone for which the rating was given

phone_url	- It has a text format with slashes to access URLs "/cellphones/samsung-galaxy-s8/" - We will see    whether its of any use

In [ ]:
# Lets find some insights in data
# How many times a person have given rating
#

In [ ]:
# sns.set()
# sns.set_style("whitegrid")
# sns.barplot(x="product", 
#             y="score",
#            data = merged_df)

In [14]:
table = pd.pivot_table(data=merged_df,index=['author'])
table.transpose()

author,efef,!!!!!!!!!!!!!!!!!!!!!!!!!!!!,!!!D1MON125!!!,"!!!JOSE""ANTONIO""",!!:. PuNi$heR .:!!,!&#34;§,!-Rohith-!,!Juan Alvaro Almonte!,!ly£$,!nd337,...,亚马逊客户,广州恒大,桃红柳绿,武術大師,立華かなで,肥球熊熊,雪地,"麦爬爬,",�¬‰¢,��������� X�� �������_���������_������'m �����������...�������3 ������ ����'
score,10.0,10.0,10.0,10.0,10.0,10.0,2.0,6.0,9.0,10.0,...,3.0,10.0,10.0,8.0,6.0,10.0,10.0,10.0,6.0,10.0
score_max,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0